{
  "openapi": "3.1.0",
  "info": {
    "title": "Core API",
    "version": "5"
  },
  "servers": [
    {
      "url": "https://api.albiware.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "name": "ApiKey",
        "in": "header"
      }
    },
    "schemas": {
      "ProjectDateDataResponse": {
        "type": "object",
        "properties": {
          "projectID": {
            "type": "integer",
            "format": "int64"
          },
          "projectIdentifier": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DateData"
            }
          },
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "validationErrors": {
            "nullable": true,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          },
          "trackId": {
            "type": "string"
          }
        },
        "required": [
          "projectID",
          "projectIdentifier",
          "data",
          "message",
          "status",
          "trackId"
        ]
      },
      "DateData": {
        "type": "object",
        "properties": {
          "id": {
            "nullable": true,
            "type": "integer"
          },
          "identifier": {
            "nullable": true,
            "type": "string"
          },
          "keyID": {
            "type": "integer",
            "format": "int32"
          },
          "keyIdentifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "flags": {
            "type": "integer",
            "format": "int32"
          },
          "value": {
            "type": "string"
          },
          "source": {
            "nullable": true,
            "type": "string"
          },
          "sourceDateName": {
            "nullable": true,
            "type": "string"
          },
          "autoUpdate": {
            "nullable": true,
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "boolean"
              },
              {
                "type": "object",
                "additionalProperties": true
              }
            ]
          }
        }
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v5/Integrations/Webhooks/Create": {
      "post": {
        "summary": "Create a Webhook",
        "description": "Create a new webhook.",
        "operationId": "create-webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "webhookURL": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Added Successfully\",\n  \"status\": 1,\n  \"data\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Added Successfully"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    },
                    "data": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Something went wrong! Please try again.\",\n  \"status\": 5,\n  \"data\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Something went wrong! Please try again."
                    },
                    "status": {
                      "type": "integer",
                      "example": 5,
                      "default": 0
                    },
                    "data": {}
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Webhooks/Delete/{id}": {
      "delete": {
        "summary": "Delete a Webhook",
        "description": "",
        "operationId": "delete-webhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Added Successfully\",\n  \"status\": 0,\n  \"data\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Added Successfully"
                    },
                    "status": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "data": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Projects/{id}": {
      "get": {
        "summary": "Get a Project By Id",
        "description": "Get one project by id.",
        "operationId": "retrieve-project",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 29778,\n  \"name\": \"Ginnys Property Management-051-BIO\",\n  \"customerName\": \"Ginny's Property Management\",\n  \"customerPhoneNumber\": \"(555) 555-5523\",\n  \"customerEmail\": \"test123@gmail.com\",\n  \"status\": \"New\",\n  \"projectType\": \"Biohazard\",\n  \"propertyType\": \"commercial\",\n  \"location\": \"Main\",\n  \"address\": \"1234 South Michigan Avenue  Chicago IL 60605\",\n  \"address1\": \"1234 South Michigan Avenue\",\n  \"address2\": null,\n  \"city\": \"Chicago\",\n  \"state\": \"IL\",\n  \"zipCode\": \"60605\",\n  \"country\": \"United States\",\n  \"longitude\": -87.62433399999999,\n  \"latitude\": 41.866506,\n  \"referralSource\": \"Online Marketing\",\n  \"insuranceClaimNumber\": null,\n  \"estimatedRevenue\": null,\n  \"budgetRevenue\": null,\n  \"actualRevenue\": null,\n  \"paidAmount\": null,\n  \"totalCogs\": null,\n  \"grossMargin\": null,\n  \"grossProfit\": 0,\n  \"budgetedGrossMargin\": null,\n  \"projectBilledPercent\": null,\n  \"projectLostCause\": null,\n  \"salesPerson\": null,\n  \"salesPersonPhoneNumber\": null,\n  \"salesPersonEmail\": null,\n  \"projectManager\": \"John Smith\",\n  \"projectManagerPhoneNumber\": \"(123) 456-7891\",\n  \"projectManagerEmail\": \"johnsmith@email.com\",\n  \"referrerName\": null,\n  \"referrerPhoneNumber\": null,\n  \"referrerEmail\": null,\n  \"referrerOrganizationName\": null,\n  \"referrerOrganizationPhoneNumber\": null,\n  \"referrerOrganizationEmail\": null,\n  \"referrerContactName\": null,\n  \"referrerContactPhoneNumber\": null,\n  \"referrerContactEmail\": null,\n  \"closed\": \"No\",\n  \"createdAt\": \"2022-03-03T14:06:22.42\",\n  \"updatedAt\": \"2022-03-03T21:15:07.83\",\n  \"imageLossUrl\": null,\n  \"linkedProject\": [\n    {\n      \"id\": 18899,\n      \"projectName\": \"123 William Street Test - ESR\",\n      \"linkedProjectId\": 142461,\n      \"linkedProjectName\": \"TESTING RENAME-3:19\",\n      \"type\": \"Emergency Services\",\n      \"subType\": null,\n      \"insurancePolicy\": null,\n      \"lossAdjusterReference\": null,\n      \"notes\": null\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 29778,
                      "default": 0
                    },
                    "name": {
                      "type": "string",
                      "example": "Ginnys Property Management-051-BIO"
                    },
                    "customerName": {
                      "type": "string",
                      "example": "Ginny's Property Management"
                    },
                    "customerPhoneNumber": {
                      "type": "string",
                      "example": "(555) 555-5523"
                    },
                    "customerEmail": {
                      "type": "string",
                      "example": "test123@gmail.com"
                    },
                    "status": {
                      "type": "string",
                      "example": "New"
                    },
                    "projectType": {
                      "type": "string",
                      "example": "Biohazard"
                    },
                    "propertyType": {
                      "type": "string",
                      "example": "commercial"
                    },
                    "location": {
                      "type": "string",
                      "example": "Main"
                    },
                    "address": {
                      "type": "string",
                      "example": "1234 South Michigan Avenue  Chicago IL 60605"
                    },
                    "address1": {
                      "type": "string",
                      "example": "1234 South Michigan Avenue"
                    },
                    "address2": {},
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "state": {
                      "type": "string",
                      "example": "IL"
                    },
                    "zipCode": {
                      "type": "string",
                      "example": "60605"
                    },
                    "country": {
                      "type": "string",
                      "example": "United States"
                    },
                    "longitude": {
                      "type": "number",
                      "example": -87.62433399999999,
                      "default": 0
                    },
                    "latitude": {
                      "type": "number",
                      "example": 41.866506,
                      "default": 0
                    },
                    "referralSource": {
                      "type": "string",
                      "example": "Online Marketing"
                    },
                    "insuranceClaimNumber": {},
                    "estimatedRevenue": {},
                    "budgetRevenue": {},
                    "actualRevenue": {},
                    "paidAmount": {},
                    "totalCogs": {},
                    "grossMargin": {},
                    "grossProfit": {
                      "type": "number",
                      "example": 0.0,
                      "default": 0.0
                    },
                    "budgetedGrossMargin": {},
                    "projectBilledPercent": {},
                    "projectLostCause": {},
                    "salesPerson": {},
                    "salesPersonPhoneNumber": {},
                    "salesPersonEmail": {},
                    "projectManager": {
                      "type": "string",
                      "example": "John Smith"
                    },
                    "projectManagerPhoneNumber": {
                      "type": "string",
                      "example": "(123) 456-7891"
                    },
                    "projectManagerEmail": {
                      "type": "string",
                      "example": "johnsmith@email.com"
                    },
                    "referrerName": {},
                    "referrerPhoneNumber": {},
                    "referrerEmail": {},
                    "referrerOrganizationName": {},
                    "referrerOrganizationPhoneNumber": {},
                    "referrerOrganizationEmail": {},
                    "referrerContactName": {},
                    "referrerContactPhoneNumber": {},
                    "referrerContactEmail": {},
                    "closed": {
                      "type": "string",
                      "example": "No"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2022-03-03T14:06:22.42"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "2022-03-03T21:15:07.83"
                    },
                    "imageLossUrl": {},
                    "linkedProject": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 18899,
                            "default": 0
                          },
                          "projectName": {
                            "type": "string",
                            "example": "123 William Street Test - ESR"
                          },
                          "linkedProjectId": {
                            "type": "integer",
                            "example": 142461,
                            "default": 0
                          },
                          "linkedProjectName": {
                            "type": "string",
                            "example": "TESTING RENAME-3:19"
                          },
                          "type": {
                            "type": "string",
                            "example": "Emergency Services"
                          },
                          "subType": {},
                          "insurancePolicy": {},
                          "lossAdjusterReference": {},
                          "notes": {}
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Projects/CreateNote": {
      "post": {
        "summary": "Create a Note",
        "description": "Creates a note on the timeline of a given project",
        "operationId": "create-note",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "projectName": {
                    "type": "string"
                  },
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": 10028,\n  \"message\": \"Contact created successfully.\",\n  \"status\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "integer",
                      "example": 10028,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Contact created successfully."
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Webhooks": {
      "get": {
        "summary": "Get All Webhooks",
        "description": "Get a list of all webhooks.",
        "operationId": "list-webhooks",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": 1,\n    \"webhookUrl\": \"www.testing.com\",\n    \"scopes\": [\n      \"project.created\"\n    ],\n    \"createdAt\": \"2022-03-14T18:36:09.15\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      },
                      "webhookUrl": {
                        "type": "string",
                        "example": "www.testing.com"
                      },
                      "scopes": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "project.created"
                        }
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2022-03-14T18:36:09.15"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Projects/GetProjectDates": {
      "get": {
        "summary": "Get All Project Dates",
        "description": "Get the values of all the dates associated with a project.",
        "operationId": "get-all-projects-copy",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"Final File Review\": null,\n    \"Estimate Approved\": null,\n    \"In Production 1\": null,\n    \"Ready For Production\": null,\n    \"Estimate Work Start\": null,\n    \"Lost\": null,\n    \"Work Start - Actual\": null,\n    \"work Auth signed\": null,\n    \"Work Complete - Projected\": null,\n    \"Project Lost\": null,\n    \"Sales\": null\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Final File Review": {},
                      "Estimate Approved": {},
                      "In Production 1": {},
                      "Ready For Production": {},
                      "Estimate Work Start": {},
                      "Lost": {},
                      "Work Start - Actual": {},
                      "work Auth signed": {},
                      "Work Complete - Projected": {},
                      "Project Lost": {},
                      "Sales": {}
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Projects/GetProjectStatus": {
      "get": {
        "summary": "Get Project's Status",
        "description": "Get a project's current status.",
        "operationId": "get-projects-by-status-copy",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"statusId\": 7909,\n    \"statusName\": \"Ready for Production\",\n    \"message\": \"Success!\",\n    \"status\": 1\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "statusId": {
                        "type": "integer",
                        "example": 7909,
                        "default": 0
                      },
                      "statusName": {
                        "type": "string",
                        "example": "Ready for Production"
                      },
                      "message": {
                        "type": "string",
                        "example": "Success!"
                      },
                      "status": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Projects/GetProjectDate": {
      "get": {
        "summary": "Get Project's Date",
        "description": "Get the value of a project's certain date by dateid.",
        "operationId": "get-projects-status-copy",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 824530,\n  \"projectId\": 447842,\n  \"date\": \"Ready For Production\",\n  \"value\": \"06/12/2024 12:00 AM\",\n  \"createdAt\": \"2024-06-11T15:43:31.617\",\n  \"updatedAt\": null\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 824530,
                      "default": 0
                    },
                    "projectId": {
                      "type": "integer",
                      "example": 447842,
                      "default": 0
                    },
                    "date": {
                      "type": "string",
                      "example": "Ready For Production"
                    },
                    "value": {
                      "type": "string",
                      "example": "06/12/2024 12:00 AM"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2024-06-11T15:43:31.617"
                    },
                    "updatedAt": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Projects/GetProjectStaff": {
      "post": {
        "summary": "Get Project Staff",
        "description": "Get a list of staff filtered by project and roles.",
        "operationId": "create-note-copy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "project": {
                    "type": "string"
                  },
                  "projectRoleId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "projectRole": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 686128,\n      \"staffId\": 8659,\n      \"staffFirstName\": \"Evie\",\n      \"staffLastName\": \"Song\",\n      \"staffDisplayName\": \"Evie Song\",\n      \"phoneNumber\": \"3127211236\",\n      \"email\": \"evie@albiware.com\",\n      \"projectRoles\": \"Sales Person\",\n      \"staffProfileImageUrl\": null\n    }\n  ],\n  \"message\": \"Staff found\",\n  \"status\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 686128,
                            "default": 0
                          },
                          "staffId": {
                            "type": "integer",
                            "example": 8659,
                            "default": 0
                          },
                          "staffFirstName": {
                            "type": "string",
                            "example": "Evie"
                          },
                          "staffLastName": {
                            "type": "string",
                            "example": "Song"
                          },
                          "staffDisplayName": {
                            "type": "string",
                            "example": "Evie Song"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "example": "3127211236"
                          },
                          "email": {
                            "type": "string",
                            "example": "evie@albiware.com"
                          },
                          "projectRoles": {
                            "type": "string",
                            "example": "Sales Person"
                          },
                          "staffProfileImageUrl": {}
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Staff found"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Activities": {
      "get": {
        "summary": "Get All Activities",
        "description": "Get a list of all activities.",
        "operationId": "get-all-projects-copy-1",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": 854635,\n    \"contactId\": null,\n    \"organizationId\": 85085,\n    \"relationshipName\": \"Albiware\",\n    \"date\": \"2024-06-05T08:35:00\",\n    \"type\": \"Text Message\",\n    \"notes\": \"test\",\n    \"source\": null,\n    \"sourceId\": null,\n    \"createdById\": 8617,\n    \"createdByName\": \"Albi Support\"\n  },\n  {\n    \"id\": 835216,\n    \"contactId\": 543814,\n    \"organizationId\": 114208,\n    \"relationshipName\": \"Test\",\n    \"date\": \"2024-02-29T10:43:36.053\",\n    \"type\": \"Phone Call\",\n    \"notes\": null,\n    \"source\": \"call\",\n    \"sourceId\": 119711,\n    \"createdById\": 4290,\n    \"createdByName\": \"Albi Support\"\n  },\n  {\n    \"id\": 835215,\n    \"contactId\": 543814,\n    \"organizationId\": 116925,\n    \"relationshipName\": \"Mr. Sam Charif\",\n    \"date\": \"2024-02-29T10:40:04.537\",\n    \"type\": \"Phone Call\",\n    \"notes\": null,\n    \"source\": \"call\",\n    \"sourceId\": 119709,\n    \"createdById\": 4290,\n    \"createdByName\": \"Albi Support\"\n  }\n] "
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 854635,
                        "default": 0
                      },
                      "contactId": {},
                      "organizationId": {
                        "type": "integer",
                        "example": 85085,
                        "default": 0
                      },
                      "relationshipName": {
                        "type": "string",
                        "example": "Albiware"
                      },
                      "date": {
                        "type": "string",
                        "example": "2024-06-05T08:35:00"
                      },
                      "type": {
                        "type": "string",
                        "example": "Text Message"
                      },
                      "notes": {
                        "type": "string",
                        "example": "test"
                      },
                      "source": {},
                      "sourceId": {},
                      "createdById": {
                        "type": "integer",
                        "example": 8617,
                        "default": 0
                      },
                      "createdByName": {
                        "type": "string",
                        "example": "Albi Support"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Activities/Create": {
      "post": {
        "summary": "Create an Activity",
        "description": "Create an activity record associated to a contact or an organization.",
        "operationId": "get-staff-list-copy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "contactId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "relationshipName": {
                    "type": "string"
                  },
                  "typeId": {
                    "type": "integer",
                    "description": "Required",
                    "format": "int64"
                  },
                  "date": {
                    "type": "string",
                    "description": "Required",
                    "format": "date"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Required"
                  },
                  "source": {
                    "type": "string"
                  },
                  "sourceId": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "examples": {
                "Request Example": {
                  "value": {
                    "organizationId": 0,
                    "contactId": 0,
                    "relationshipName": "Albiware",
                    "typeId": 6711,
                    "date": "2024-06-11T16:17:49.297Z",
                    "notes": "note",
                    "source": "",
                    "sourceId": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": 864315,\n  \"message\": \"Activity was created successfully.\",\n  \"status\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "integer",
                      "example": 864315,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Activity was created successfully."
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Asset/Equipment/Update/{id}": {
      "post": {
        "summary": "Update an Equipment",
        "description": "Update an equipment.",
        "operationId": "create-a-equipment-copy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Required",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "equipmentCustomId": {
                    "type": "string",
                    "description": "Required"
                  },
                  "equipmentTypeId": {
                    "type": "integer",
                    "description": "Required",
                    "format": "int64"
                  },
                  "equipmentTypeName": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "description": "Required"
                  },
                  "statusName": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "integer",
                    "description": "Required",
                    "format": "int64"
                  },
                  "locationName": {
                    "type": "string"
                  },
                  "projectId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "projectName": {
                    "type": "string"
                  },
                  "purchaseDate": {
                    "type": "string",
                    "format": "date"
                  },
                  "manufacturer": {
                    "type": "string"
                  },
                  "serialNo": {
                    "type": "string"
                  },
                  "equipmentModel": {
                    "type": "string"
                  },
                  "purchasePrice": {
                    "type": "number",
                    "format": "double"
                  },
                  "billingType": {
                    "type": "string"
                  },
                  "billingTypeName": {
                    "type": "string"
                  },
                  "billingCost": {
                    "type": "number",
                    "format": "double"
                  },
                  "maxDay": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "currentStaffId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "currentCompanyId": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": {\n    \"id\": 80251,\n    \"equipmentCustomId\": \"new id\",\n    \"barcode\": null,\n    \"equipmentTypeID\": 3779,\n    \"type\": \"Airmover\",\n    \"typeImage\": {\n      \"id\": 2,\n      \"name\": \"Air Mover\",\n      \"thumbnailImage\": \"air-mover.png\",\n      \"svg\": \"air-mover.svg\",\n      \"active\": true,\n      \"priority\": 0,\n      \"isDefault\": false\n    },\n    \"manufacturer\": null,\n    \"serialNo\": null,\n    \"status\": \"in_Use\",\n    \"statusName\": \"In Use\",\n    \"maxDay\": null,\n    \"locationId\": 834,\n    \"locationName\": \"Oakbrook Office\",\n    \"projectId\": null,\n    \"projectName\": \"N/A\",\n    \"assignAt\": null,\n    \"model\": null,\n    \"billingType\": null,\n    \"billingCost\": null,\n    \"purchaseDate\": \"2024-06-11T18:11:19.483\",\n    \"purchasePrice\": null,\n    \"options\": 272,\n    \"device\": null,\n    \"priceListItems\": null\n  },\n  \"message\": \"Equipment \\\"new id\\\" updated successfully!\",\n  \"status\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 80251,
                          "default": 0
                        },
                        "equipmentCustomId": {
                          "type": "string",
                          "example": "new id"
                        },
                        "barcode": {},
                        "equipmentTypeID": {
                          "type": "integer",
                          "example": 3779,
                          "default": 0
                        },
                        "type": {
                          "type": "string",
                          "example": "Airmover"
                        },
                        "typeImage": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 2,
                              "default": 0
                            },
                            "name": {
                              "type": "string",
                              "example": "Air Mover"
                            },
                            "thumbnailImage": {
                              "type": "string",
                              "example": "air-mover.png"
                            },
                            "svg": {
                              "type": "string",
                              "example": "air-mover.svg"
                            },
                            "active": {
                              "type": "boolean",
                              "example": true,
                              "default": true
                            },
                            "priority": {
                              "type": "integer",
                              "example": 0,
                              "default": 0
                            },
                            "isDefault": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            }
                          }
                        },
                        "manufacturer": {},
                        "serialNo": {},
                        "status": {
                          "type": "string",
                          "example": "in_Use"
                        },
                        "statusName": {
                          "type": "string",
                          "example": "In Use"
                        },
                        "maxDay": {},
                        "locationId": {
                          "type": "integer",
                          "example": 834,
                          "default": 0
                        },
                        "locationName": {
                          "type": "string",
                          "example": "Oakbrook Office"
                        },
                        "projectId": {},
                        "projectName": {
                          "type": "string",
                          "example": "N/A"
                        },
                        "assignAt": {},
                        "model": {},
                        "billingType": {},
                        "billingCost": {},
                        "purchaseDate": {
                          "type": "string",
                          "example": "2024-06-11T18:11:19.483"
                        },
                        "purchasePrice": {},
                        "options": {
                          "type": "integer",
                          "example": 272,
                          "default": 0
                        },
                        "device": {},
                        "priceListItems": {}
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Equipment \"new id\" updated successfully!"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Contacts": {
      "get": {
        "summary": "Get All Contacts",
        "description": "Get a list of all contacts.",
        "operationId": "get-all-activities-copy",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": 564637,\n    \"name\": \"El Krip\",\n    \"firstName\": \"El\",\n    \"lastName\": \"Krip\",\n    \"address1\": null,\n    \"address2\": null,\n    \"city\": null,\n    \"state\": null,\n    \"zipcode\": null,\n    \"country\": \"United States\",\n    \"longitude\": null,\n    \"latitude\": null,\n    \"phoneNumber\": \"999-999-9999\",\n    \"mobileNumber\": \"999-999-9999\",\n    \"email\": null,\n    \"organizationId\": 149638,\n    \"organizationName\": \"Stilvi\",\n    \"parentOrganizationId\": null,\n    \"parentOrganizationName\": null,\n    \"contactTypeIds\": [\n      11616\n    ],\n    \"types\": [\n      \"Customer\"\n    ],\n    \"type\": \"Customer\",\n    \"sandbox\": null,\n    \"referralSourceID\": 8287,\n    \"referralSource\": \"Online Marketing\",\n    \"relationshipStatusID\": 0,\n    \"relationshipStatus\": null,\n    \"salespersonId\": null,\n    \"salespersonName\": null,\n    \"canDelete\": false,\n    \"createdAt\": \"2024-06-07T15:27:37.47\",\n    \"updatedAt\": \"2024-06-07T15:27:37.47\"\n  },\n  {\n    \"id\": 564399,\n    \"name\": \"test test\",\n    \"firstName\": \"test\",\n    \"lastName\": \"test\",\n    \"address1\": null,\n    \"address2\": null,\n    \"city\": null,\n    \"state\": null,\n    \"zipcode\": null,\n    \"country\": \"United States\",\n    \"longitude\": null,\n    \"latitude\": null,\n    \"phoneNumber\": null,\n    \"mobileNumber\": null,\n    \"email\": null,\n    \"organizationId\": 149565,\n    \"organizationName\": \"Albiware\",\n    \"parentOrganizationId\": null,\n    \"parentOrganizationName\": null,\n    \"contactTypeIds\": [\n      11616\n    ],\n    \"types\": [\n      \"Customer\"\n    ],\n    \"type\": \"Customer\",\n    \"sandbox\": null,\n    \"referralSourceID\": 8290,\n    \"referralSource\": \"Agent\",\n    \"relationshipStatusID\": 0,\n    \"relationshipStatus\": null,\n    \"salespersonId\": null,\n    \"salespersonName\": null,\n    \"canDelete\": false,\n    \"createdAt\": \"2024-06-07T10:36:27.923\",\n    \"updatedAt\": \"2024-06-07T10:36:27.923\"\n  },\n  {\n    \"id\": 564398,\n    \"name\": \"Sam TEST\",\n    \"firstName\": \"Sam\",\n    \"lastName\": \"TEST\",\n    \"address1\": null,\n    \"address2\": null,\n    \"city\": null,\n    \"state\": null,\n    \"zipcode\": null,\n    \"country\": \"United States\",\n    \"longitude\": null,\n    \"latitude\": null,\n    \"phoneNumber\": null,\n    \"mobileNumber\": null,\n    \"email\": null,\n    \"organizationId\": null,\n    \"organizationName\": null,\n    \"parentOrganizationId\": null,\n    \"parentOrganizationName\": null,\n    \"contactTypeIds\": [\n      11616\n    ],\n    \"types\": [\n      \"Customer\"\n    ],\n    \"type\": \"Customer\",\n    \"sandbox\": null,\n    \"referralSourceID\": 8289,\n    \"referralSource\": \"Insurance Referral\",\n    \"relationshipStatusID\": 0,\n    \"relationshipStatus\": null,\n    \"salespersonId\": null,\n    \"salespersonName\": null,\n    \"canDelete\": false,\n    \"createdAt\": \"2024-06-07T10:35:40.51\",\n    \"updatedAt\": \"2024-06-07T10:35:40.51\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 564637,
                        "default": 0
                      },
                      "name": {
                        "type": "string",
                        "example": "El Krip"
                      },
                      "firstName": {
                        "type": "string",
                        "example": "El"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Krip"
                      },
                      "address1": {},
                      "address2": {},
                      "city": {},
                      "state": {},
                      "zipcode": {},
                      "country": {
                        "type": "string",
                        "example": "United States"
                      },
                      "longitude": {},
                      "latitude": {},
                      "phoneNumber": {
                        "type": "string",
                        "example": "999-999-9999"
                      },
                      "mobileNumber": {
                        "type": "string",
                        "example": "999-999-9999"
                      },
                      "email": {},
                      "organizationId": {
                        "type": "integer",
                        "example": 149638,
                        "default": 0
                      },
                      "organizationName": {
                        "type": "string",
                        "example": "Stilvi"
                      },
                      "parentOrganizationId": {},
                      "parentOrganizationName": {},
                      "contactTypeIds": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "example": 11616,
                          "default": 0
                        }
                      },
                      "types": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "Customer"
                        }
                      },
                      "type": {
                        "type": "string",
                        "example": "Customer"
                      },
                      "sandbox": {},
                      "referralSourceID": {
                        "type": "integer",
                        "example": 8287,
                        "default": 0
                      },
                      "referralSource": {
                        "type": "string",
                        "example": "Online Marketing"
                      },
                      "relationshipStatusID": {
                        "type": "integer",
                        "example": 0,
                        "default": 0
                      },
                      "relationshipStatus": {},
                      "salespersonId": {},
                      "salespersonName": {},
                      "canDelete": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2024-06-07T15:27:37.47"
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2024-06-07T15:27:37.47"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Contacts/{id}": {
      "get": {
        "summary": "Get a Contact By Id",
        "description": "Get one contact record by id.",
        "operationId": "get-all-contacts-copy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 564637,\n  \"name\": \"El Krip\",\n  \"firstName\": \"El\",\n  \"lastName\": \"Krip\",\n  \"address1\": null,\n  \"address2\": null,\n  \"city\": null,\n  \"state\": null,\n  \"zipcode\": null,\n  \"country\": \"United States\",\n  \"longitude\": null,\n  \"latitude\": null,\n  \"phoneNumber\": \"999-999-9999\",\n  \"mobileNumber\": \"999-999-9999\",\n  \"email\": null,\n  \"organizationId\": 149638,\n  \"organizationName\": \"Stilvi\",\n  \"parentOrganizationId\": null,\n  \"parentOrganizationName\": null,\n  \"contactTypeIds\": [\n    11616\n  ],\n  \"types\": [\n    \"Customer\"\n  ],\n  \"type\": \"Customer\",\n  \"sandbox\": null,\n  \"referralSourceID\": 8287,\n  \"referralSource\": \"Online Marketing\",\n  \"relationshipStatusID\": 0,\n  \"relationshipStatus\": null,\n  \"salespersonId\": null,\n  \"salespersonName\": null,\n  \"canDelete\": false,\n  \"createdAt\": \"2024-06-07T15:27:37.47\",\n  \"updatedAt\": \"2024-06-07T15:27:37.47\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 564637,
                      "default": 0
                    },
                    "name": {
                      "type": "string",
                      "example": "El Krip"
                    },
                    "firstName": {
                      "type": "string",
                      "example": "El"
                    },
                    "lastName": {
                      "type": "string",
                      "example": "Krip"
                    },
                    "address1": {},
                    "address2": {},
                    "city": {},
                    "state": {},
                    "zipcode": {},
                    "country": {
                      "type": "string",
                      "example": "United States"
                    },
                    "longitude": {},
                    "latitude": {},
                    "phoneNumber": {
                      "type": "string",
                      "example": "999-999-9999"
                    },
                    "mobileNumber": {
                      "type": "string",
                      "example": "999-999-9999"
                    },
                    "email": {},
                    "organizationId": {
                      "type": "integer",
                      "example": 149638,
                      "default": 0
                    },
                    "organizationName": {
                      "type": "string",
                      "example": "Stilvi"
                    },
                    "parentOrganizationId": {},
                    "parentOrganizationName": {},
                    "contactTypeIds": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "example": 11616,
                        "default": 0
                      }
                    },
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Customer"
                      }
                    },
                    "type": {
                      "type": "string",
                      "example": "Customer"
                    },
                    "sandbox": {},
                    "referralSourceID": {
                      "type": "integer",
                      "example": 8287,
                      "default": 0
                    },
                    "referralSource": {
                      "type": "string",
                      "example": "Online Marketing"
                    },
                    "relationshipStatusID": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "relationshipStatus": {},
                    "salespersonId": {},
                    "salespersonName": {},
                    "canDelete": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2024-06-07T15:27:37.47"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "2024-06-07T15:27:37.47"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Contacts/Statuses": {
      "get": {
        "summary": "Get Contacts with Statuses",
        "description": "Get a list of all contacts with their status set.",
        "operationId": "get-all-contacts-copy-1",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"contactId\": 339273,\n    \"id\": 16987,\n    \"name\": \"Pam Beasley\",\n    \"firstName\": \"Pam\",\n    \"lastName\": \"Beasley\",\n    \"address1\": \"1234 Gale Drive\",\n    \"address2\": null,\n    \"city\": null,\n    \"state\": \"OH\",\n    \"zipcode\": \"44131\",\n    \"country\": \"United States\",\n    \"longitude\": -81.6639904,\n    \"latitude\": 41.3864281,\n    \"phoneNumber\": \"234-568-8954\",\n    \"mobileNumber\": \"234-568-8954\",\n    \"email\": null,\n    \"organizationId\": null,\n    \"organizationName\": null,\n    \"parentOrganizationId\": null,\n    \"parentOrganizationName\": null,\n    \"contactTypeIds\": null,\n    \"types\": null,\n    \"type\": \" Customer\",\n    \"sandbox\": null,\n    \"referralSourceID\": 8289,\n    \"referralSource\": \"Insurance Referral\",\n    \"relationshipStatusID\": 522,\n    \"relationshipStatus\": \"Active\",\n    \"salespersonId\": null,\n    \"salespersonName\": null,\n    \"canDelete\": false,\n    \"createdAt\": \"2023-10-09T07:28:27.517\",\n    \"updatedAt\": \"2024-01-16T14:50:10.047\"\n  },\n  {\n    \"contactId\": 338752,\n    \"id\": 16986,\n    \"name\": \"Leslie Knope\",\n    \"firstName\": \"Leslie\",\n    \"lastName\": \"Knope\",\n    \"address1\": \"1234 Chagrin Boulevard\",\n    \"address2\": null,\n    \"city\": \"Woodmere\",\n    \"state\": \"OH\",\n    \"zipcode\": \"44122\",\n    \"country\": \"United States\",\n    \"longitude\": -81.47496009999999,\n    \"latitude\": 41.4619461,\n    \"phoneNumber\": null,\n    \"mobileNumber\": null,\n    \"email\": null,\n    \"organizationId\": null,\n    \"organizationName\": null,\n    \"parentOrganizationId\": null,\n    \"parentOrganizationName\": null,\n    \"contactTypeIds\": null,\n    \"types\": null,\n    \"type\": \" Customer\",\n    \"sandbox\": null,\n    \"referralSourceID\": 8287,\n    \"referralSource\": \"Online Marketing\",\n    \"relationshipStatusID\": 522,\n    \"relationshipStatus\": \"Active\",\n    \"salespersonId\": null,\n    \"salespersonName\": null,\n    \"canDelete\": false,\n    \"createdAt\": \"2023-10-06T08:13:20.34\",\n    \"updatedAt\": \"2024-05-10T14:02:07.003\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contactId": {
                        "type": "integer",
                        "example": 339273,
                        "default": 0
                      },
                      "id": {
                        "type": "integer",
                        "example": 16987,
                        "default": 0
                      },
                      "name": {
                        "type": "string",
                        "example": "Pam Beasley"
                      },
                      "firstName": {
                        "type": "string",
                        "example": "Pam"
                      },
                      "lastName": {
                        "type": "string",
                        "example": "Beasley"
                      },
                      "address1": {
                        "type": "string",
                        "example": "1234 Gale Drive"
                      },
                      "address2": {},
                      "city": {},
                      "state": {
                        "type": "string",
                        "example": "OH"
                      },
                      "zipcode": {
                        "type": "string",
                        "example": "44131"
                      },
                      "country": {
                        "type": "string",
                        "example": "United States"
                      },
                      "longitude": {
                        "type": "number",
                        "example": -81.6639904,
                        "default": 0
                      },
                      "latitude": {
                        "type": "number",
                        "example": 41.3864281,
                        "default": 0
                      },
                      "phoneNumber": {
                        "type": "string",
                        "example": "234-568-8954"
                      },
                      "mobileNumber": {
                        "type": "string",
                        "example": "234-568-8954"
                      },
                      "email": {},
                      "organizationId": {},
                      "organizationName": {},
                      "parentOrganizationId": {},
                      "parentOrganizationName": {},
                      "contactTypeIds": {},
                      "types": {},
                      "type": {
                        "type": "string",
                        "example": " Customer"
                      },
                      "sandbox": {},
                      "referralSourceID": {
                        "type": "integer",
                        "example": 8289,
                        "default": 0
                      },
                      "referralSource": {
                        "type": "string",
                        "example": "Insurance Referral"
                      },
                      "relationshipStatusID": {
                        "type": "integer",
                        "example": 522,
                        "default": 0
                      },
                      "relationshipStatus": {
                        "type": "string",
                        "example": "Active"
                      },
                      "salespersonId": {},
                      "salespersonName": {},
                      "canDelete": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2023-10-09T07:28:27.517"
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2024-01-16T14:50:10.047"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Contacts/Create": {
      "post": {
        "summary": "Create a Contact",
        "description": "Create a new contact.",
        "operationId": "update-an-equipment-copy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "description": "Required"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Required"
                  },
                  "contactTypeIds": {
                    "type": "array",
                    "description": "Required",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "organizationId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "organizationName": {
                    "type": "string"
                  },
                  "useOrganizationAddress": {
                    "type": "boolean"
                  },
                  "parentOrganizationId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "parentOrganizationName": {
                    "type": "string"
                  },
                  "address1": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "zipCode": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number",
                    "default": 0,
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "default": 0,
                    "format": "double"
                  },
                  "referralSourceId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "status": {
                    "type": "string"
                  },
                  "relationshipStatusId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "salespersonId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "salespersonName": {
                    "type": "string"
                  },
                  "sandbox": {
                    "type": "string"
                  },
                  "jobTitle": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": 570740,\n  \"message\": \"Contact created successfully.\",\n  \"status\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "integer",
                      "example": 570740,
                      "default": 0
                    },
                    "message": {
                      "type": "string",
                      "example": "Contact created successfully."
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "{\n  \"firstName\": \"John\",\n  \"lastName\": \"Smith\",\n  \"contactTypeIds\": [\n    11610, 11611\n  ],\n  \"address1\": \"1234 Maple Street\",\n  \"city\": \"Springfield\",\n  \"state\": \"IL\",\n  \"zipCode\": \"62704\",\n  \"country\": \"United States\",\n  \"email\": \"user@example.com\",\n}"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/v5/Integrations/Contacts/ChangeStatus": {
      "post": {
        "summary": "Update Contact Status",
        "description": "Update a contact's statues.",
        "operationId": "create-a-contact-copy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "contactName": {
                    "type": "string"
                  },
                  "statusId": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "status": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"message\": \"Status changed successfully!\",\n  \"status\": 1\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Status changed successfully!"
                    },
                    "status": {
                      "type": "integer",
                      "example": 1,
                      "default": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "text",
              "code": "{\n  \"contactId\": 570740,\n  \"status\": \"Active\"\n}"
            }
          ],
          "samples-languages": [
            "text"
          ]
        }
      }
    },
    "/v5/Integrations/Options/GetProjectRoleOptions": {
      "get": {
        "summary": "Get Project Role Options",
        "description": "Get a list of all project role options.",
        "operationId": "get-all-contacts-copy-2",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": 4687,\n    \"name\": \"Accountant/Billing\"\n  },\n  {\n    \"id\": 4686,\n    \"name\": \"Estimator\"\n  },\n  {\n    \"id\": 4682,\n    \"name\": \"Project Manager\"\n  },\n  {\n    \"id\": 4684,\n    \"name\": \"Sales Person\"\n  },\n  {\n    \"id\": 4685,\n    \"name\": \"Team Coordinator\"\n  },\n  {\n    \"id\": 4683,\n    \"name\": \"Technician\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 4687,
                        "default": 0
                      },
                      "name": {
                        "type": "string",
                        "example": "Accountant/Billing"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Options/GetRelationshipTypeOptions": {
      "get": {
        "summary": "Get Relationship Type Options",
        "description": "Get a list of all relationship type options.",
        "operationId": "get-project-role-options-copy",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": 11610,\n    \"name\": \"Subcontractor\"\n  },\n  {\n    \"id\": 11611,\n    \"name\": \"Referrer\"\n  },\n  {\n    \"id\": 11612,\n    \"name\": \"Insurance Company\"\n  },\n  {\n    \"id\": 11613,\n    \"name\": \"Insurance Agency\"\n  },\n  {\n    \"id\": 11614,\n    \"name\": \"Property Management Company\"\n  },\n  {\n    \"id\": 11615,\n    \"name\": \"Fire Department\"\n  },\n  {\n    \"id\": 11616,\n    \"name\": \"Customer\"\n  },\n  {\n    \"id\": 11617,\n    \"name\": \"Tenant\"\n  },\n  {\n    \"id\": 11618,\n    \"name\": \"Unit Owner Company\"\n  },\n  {\n    \"id\": 11619,\n    \"name\": \"Insurance Adjuster\"\n  },\n  {\n    \"id\": 11620,\n    \"name\": \"Vendor\"\n  },\n  {\n    \"id\": 11621,\n    \"name\": \"Insured\"\n  },\n  {\n    \"id\": 13851,\n    \"name\": \"Sales Person\"\n  },\n  {\n    \"id\": 15038,\n    \"name\": \"Estimator\"\n  },\n  {\n    \"id\": 15855,\n    \"name\": \"Third Party Claimant\"\n  },\n  {\n    \"id\": 17970,\n    \"name\": \"Lead\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 11610,
                        "default": 0
                      },
                      "name": {
                        "type": "string",
                        "example": "Subcontractor"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Options/GetReferralSourceOptions": {
      "get": {
        "summary": "Get Referral Source Options",
        "description": "Get a list of all referral source options.",
        "operationId": "get-relationship-type-options-copy",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"id\": 8287,\n    \"name\": \"Online Marketing\"\n  },\n  {\n    \"id\": 8288,\n    \"name\": \"Vehicle Wraps\"\n  },\n  {\n    \"id\": 8289,\n    \"name\": \"Insurance Referral\"\n  },\n  {\n    \"id\": 8290,\n    \"name\": \"Agent\"\n  },\n  {\n    \"id\": 8721,\n    \"name\": \"Word of Mouth\"\n  },\n  {\n    \"id\": 8722,\n    \"name\": \"Placeholder\"\n  },\n  {\n    \"id\": 11645,\n    \"name\": \"Unknown\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 8287,
                        "default": 0
                      },
                      "name": {
                        "type": "string",
                        "example": "Online Marketing"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v5/Integrations/Options/GetActivityTypeOptions": {
      "get": {
        "summary": "Get Activity Type Options",
        "description": "Get a list of all activity type options.",
        "operationId": "get-referral-source-options-copy",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
[...]
