/*
Albi Api - v5

This Api will be responsible for overall data distribution and authorization.

API version: v5
Contact: support@albiware.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package albiwareapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ProjectsAPIService ProjectsAPI service
type ProjectsAPIService service

type ApiV5IntegrationsProjectsCreateNotePostRequest struct {
	ctx                    context.Context
	ApiService             *ProjectsAPIService
	createNoteRequestModel *CreateNoteRequestModel
}

func (r ApiV5IntegrationsProjectsCreateNotePostRequest) CreateNoteRequestModel(createNoteRequestModel CreateNoteRequestModel) ApiV5IntegrationsProjectsCreateNotePostRequest {
	r.createNoteRequestModel = &createNoteRequestModel
	return r
}

func (r ApiV5IntegrationsProjectsCreateNotePostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsCreateNotePostExecute(r)
}

/*
V5IntegrationsProjectsCreateNotePost Method for V5IntegrationsProjectsCreateNotePost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsCreateNotePostRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsCreateNotePost(ctx context.Context) ApiV5IntegrationsProjectsCreateNotePostRequest {
	return ApiV5IntegrationsProjectsCreateNotePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsCreateNotePostExecute(r ApiV5IntegrationsProjectsCreateNotePostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsCreateNotePost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/CreateNote"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createNoteRequestModel
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsCreateProjectPostRequest struct {
	ctx                       context.Context
	ApiService                *ProjectsAPIService
	createProjectRequestModel *CreateProjectRequestModel
}

func (r ApiV5IntegrationsProjectsCreateProjectPostRequest) CreateProjectRequestModel(createProjectRequestModel CreateProjectRequestModel) ApiV5IntegrationsProjectsCreateProjectPostRequest {
	r.createProjectRequestModel = &createProjectRequestModel
	return r
}

func (r ApiV5IntegrationsProjectsCreateProjectPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsCreateProjectPostExecute(r)
}

/*
V5IntegrationsProjectsCreateProjectPost Method for V5IntegrationsProjectsCreateProjectPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsCreateProjectPostRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsCreateProjectPost(ctx context.Context) ApiV5IntegrationsProjectsCreateProjectPostRequest {
	return ApiV5IntegrationsProjectsCreateProjectPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsCreateProjectPostExecute(r ApiV5IntegrationsProjectsCreateProjectPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsCreateProjectPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/CreateProject"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createProjectRequestModel
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	page       *int32
	pageSize   *int32
	openOnly   *bool
}

func (r ApiV5IntegrationsProjectsGetRequest) Page(page int32) ApiV5IntegrationsProjectsGetRequest {
	r.page = &page
	return r
}

func (r ApiV5IntegrationsProjectsGetRequest) PageSize(pageSize int32) ApiV5IntegrationsProjectsGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV5IntegrationsProjectsGetRequest) OpenOnly(openOnly bool) ApiV5IntegrationsProjectsGetRequest {
	r.openOnly = &openOnly
	return r
}

func (r ApiV5IntegrationsProjectsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetExecute(r)
}

/*
V5IntegrationsProjectsGet Method for V5IntegrationsProjectsGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGet(ctx context.Context) ApiV5IntegrationsProjectsGetRequest {
	return ApiV5IntegrationsProjectsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetExecute(r ApiV5IntegrationsProjectsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	if r.openOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "openOnly", r.openOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "openOnly", defaultValue, "form", "")
		r.openOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectDateGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	dateId     *int64
}

func (r ApiV5IntegrationsProjectsGetProjectDateGetRequest) DateId(dateId int64) ApiV5IntegrationsProjectsGetProjectDateGetRequest {
	r.dateId = &dateId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectDateGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectDateGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectDateGet Method for V5IntegrationsProjectsGetProjectDateGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectDateGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectDateGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectDateGetRequest {
	return ApiV5IntegrationsProjectsGetProjectDateGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectDateGetExecute(r ApiV5IntegrationsProjectsGetProjectDateGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectDateGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectDate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.dateId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dateId", r.dateId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectDatesDetailsGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectDatesDetailsGet Method for V5IntegrationsProjectsGetProjectDatesDetailsGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectDatesDetailsGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest {
	return ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectDatesDetailsGetExecute(r ApiV5IntegrationsProjectsGetProjectDatesDetailsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectDatesDetailsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectDatesDetails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectDatesGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectDatesGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectDatesGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectDatesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectDatesGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectDatesGet Method for V5IntegrationsProjectsGetProjectDatesGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectDatesGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectDatesGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectDatesGetRequest {
	return ApiV5IntegrationsProjectsGetProjectDatesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectDatesGetExecute(r ApiV5IntegrationsProjectsGetProjectDatesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectDatesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectDates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectEquipmentGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectEquipmentGet Method for V5IntegrationsProjectsGetProjectEquipmentGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectEquipmentGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest {
	return ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectEquipmentGetExecute(r ApiV5IntegrationsProjectsGetProjectEquipmentGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectEquipmentGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectEquipment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectExpenseGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	expenseId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectExpenseGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectExpenseGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectExpenseGetRequest) ExpenseId(expenseId int64) ApiV5IntegrationsProjectsGetProjectExpenseGetRequest {
	r.expenseId = &expenseId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectExpenseGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectExpenseGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectExpenseGet Method for V5IntegrationsProjectsGetProjectExpenseGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectExpenseGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectExpenseGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectExpenseGetRequest {
	return ApiV5IntegrationsProjectsGetProjectExpenseGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectExpenseGetExecute(r ApiV5IntegrationsProjectsGetProjectExpenseGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectExpenseGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectExpense"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.expenseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expenseId", r.expenseId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectExpensesGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	page       *int32
	pageSize   *int32
}

func (r ApiV5IntegrationsProjectsGetProjectExpensesGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectExpensesGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectExpensesGetRequest) Page(page int32) ApiV5IntegrationsProjectsGetProjectExpensesGetRequest {
	r.page = &page
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectExpensesGetRequest) PageSize(pageSize int32) ApiV5IntegrationsProjectsGetProjectExpensesGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectExpensesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectExpensesGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectExpensesGet Method for V5IntegrationsProjectsGetProjectExpensesGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectExpensesGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectExpensesGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectExpensesGetRequest {
	return ApiV5IntegrationsProjectsGetProjectExpensesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectExpensesGetExecute(r ApiV5IntegrationsProjectsGetProjectExpensesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectExpensesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectExpenses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectFilesGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	page       *int32
	pageSize   *int32
}

func (r ApiV5IntegrationsProjectsGetProjectFilesGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectFilesGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectFilesGetRequest) Page(page int32) ApiV5IntegrationsProjectsGetProjectFilesGetRequest {
	r.page = &page
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectFilesGetRequest) PageSize(pageSize int32) ApiV5IntegrationsProjectsGetProjectFilesGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectFilesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectFilesGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectFilesGet Method for V5IntegrationsProjectsGetProjectFilesGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectFilesGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectFilesGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectFilesGetRequest {
	return ApiV5IntegrationsProjectsGetProjectFilesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectFilesGetExecute(r ApiV5IntegrationsProjectsGetProjectFilesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectFilesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectFiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectFinancialKPIGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectFinancialKPIGet Method for V5IntegrationsProjectsGetProjectFinancialKPIGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectFinancialKPIGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest {
	return ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectFinancialKPIGetExecute(r ApiV5IntegrationsProjectsGetProjectFinancialKPIGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectFinancialKPIGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectFinancialKPI"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	invoiceId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest) InvoiceId(invoiceId int64) ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest {
	r.invoiceId = &invoiceId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectInvoiceGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectInvoiceGet Method for V5IntegrationsProjectsGetProjectInvoiceGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectInvoiceGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest {
	return ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectInvoiceGetExecute(r ApiV5IntegrationsProjectsGetProjectInvoiceGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectInvoiceGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectInvoice"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.invoiceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoiceId", r.invoiceId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	page       *int32
	pageSize   *int32
}

func (r ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest) Page(page int32) ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest {
	r.page = &page
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest) PageSize(pageSize int32) ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectInvoicesGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectInvoicesGet Method for V5IntegrationsProjectsGetProjectInvoicesGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectInvoicesGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest {
	return ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectInvoicesGetExecute(r ApiV5IntegrationsProjectsGetProjectInvoicesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectInvoicesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectInvoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectNotesGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	page       *int32
	pageSize   *int32
}

func (r ApiV5IntegrationsProjectsGetProjectNotesGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectNotesGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectNotesGetRequest) Page(page int32) ApiV5IntegrationsProjectsGetProjectNotesGetRequest {
	r.page = &page
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectNotesGetRequest) PageSize(pageSize int32) ApiV5IntegrationsProjectsGetProjectNotesGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectNotesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectNotesGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectNotesGet Method for V5IntegrationsProjectsGetProjectNotesGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectNotesGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectNotesGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectNotesGetRequest {
	return ApiV5IntegrationsProjectsGetProjectNotesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectNotesGetExecute(r ApiV5IntegrationsProjectsGetProjectNotesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectNotesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectNotes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectPaymentGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	paymentId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectPaymentGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectPaymentGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectPaymentGetRequest) PaymentId(paymentId int64) ApiV5IntegrationsProjectsGetProjectPaymentGetRequest {
	r.paymentId = &paymentId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectPaymentGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectPaymentGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectPaymentGet Method for V5IntegrationsProjectsGetProjectPaymentGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectPaymentGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectPaymentGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectPaymentGetRequest {
	return ApiV5IntegrationsProjectsGetProjectPaymentGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectPaymentGetExecute(r ApiV5IntegrationsProjectsGetProjectPaymentGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectPaymentGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectPayment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.paymentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paymentId", r.paymentId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	page       *int32
	pageSize   *int32
}

func (r ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest) Page(page int32) ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest {
	r.page = &page
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest) PageSize(pageSize int32) ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectPaymentsGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectPaymentsGet Method for V5IntegrationsProjectsGetProjectPaymentsGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectPaymentsGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest {
	return ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectPaymentsGetExecute(r ApiV5IntegrationsProjectsGetProjectPaymentsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectPaymentsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectPayments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectSettingsGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
}

func (r ApiV5IntegrationsProjectsGetProjectSettingsGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectSettingsGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectSettingsGet Method for V5IntegrationsProjectsGetProjectSettingsGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectSettingsGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectSettingsGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectSettingsGetRequest {
	return ApiV5IntegrationsProjectsGetProjectSettingsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectSettingsGetExecute(r ApiV5IntegrationsProjectsGetProjectSettingsGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectSettingsGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectSettings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectStaffPostRequest struct {
	ctx                      context.Context
	ApiService               *ProjectsAPIService
	projectStaffRequestModel *ProjectStaffRequestModel
}

func (r ApiV5IntegrationsProjectsGetProjectStaffPostRequest) ProjectStaffRequestModel(projectStaffRequestModel ProjectStaffRequestModel) ApiV5IntegrationsProjectsGetProjectStaffPostRequest {
	r.projectStaffRequestModel = &projectStaffRequestModel
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectStaffPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectStaffPostExecute(r)
}

/*
V5IntegrationsProjectsGetProjectStaffPost Method for V5IntegrationsProjectsGetProjectStaffPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectStaffPostRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectStaffPost(ctx context.Context) ApiV5IntegrationsProjectsGetProjectStaffPostRequest {
	return ApiV5IntegrationsProjectsGetProjectStaffPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectStaffPostExecute(r ApiV5IntegrationsProjectsGetProjectStaffPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectStaffPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectStaff"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectStaffRequestModel
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectStatusGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
}

func (r ApiV5IntegrationsProjectsGetProjectStatusGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectStatusGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectStatusGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectStatusGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectStatusGet Method for V5IntegrationsProjectsGetProjectStatusGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectStatusGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectStatusGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectStatusGetRequest {
	return ApiV5IntegrationsProjectsGetProjectStatusGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectStatusGetExecute(r ApiV5IntegrationsProjectsGetProjectStatusGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectStatusGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectStatus"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsGetProjectTimelineGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	projectId  *int64
	page       *int32
	pageSize   *int32
}

func (r ApiV5IntegrationsProjectsGetProjectTimelineGetRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsGetProjectTimelineGetRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectTimelineGetRequest) Page(page int32) ApiV5IntegrationsProjectsGetProjectTimelineGetRequest {
	r.page = &page
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectTimelineGetRequest) PageSize(pageSize int32) ApiV5IntegrationsProjectsGetProjectTimelineGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiV5IntegrationsProjectsGetProjectTimelineGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsGetProjectTimelineGetExecute(r)
}

/*
V5IntegrationsProjectsGetProjectTimelineGet Method for V5IntegrationsProjectsGetProjectTimelineGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsGetProjectTimelineGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectTimelineGet(ctx context.Context) ApiV5IntegrationsProjectsGetProjectTimelineGetRequest {
	return ApiV5IntegrationsProjectsGetProjectTimelineGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsGetProjectTimelineGetExecute(r ApiV5IntegrationsProjectsGetProjectTimelineGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsGetProjectTimelineGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/GetProjectTimeline"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsIdGetRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	id         int64
}

func (r ApiV5IntegrationsProjectsIdGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsIdGetExecute(r)
}

/*
V5IntegrationsProjectsIdGet Method for V5IntegrationsProjectsIdGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiV5IntegrationsProjectsIdGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsIdGet(ctx context.Context, id int64) ApiV5IntegrationsProjectsIdGetRequest {
	return ApiV5IntegrationsProjectsIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsIdGetExecute(r ApiV5IntegrationsProjectsIdGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsIdGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsProjectStatusesGetRequest struct {
	ctx          context.Context
	ApiService   *ProjectsAPIService
	status       *string
	statusInDays *int32
}

func (r ApiV5IntegrationsProjectsProjectStatusesGetRequest) Status(status string) ApiV5IntegrationsProjectsProjectStatusesGetRequest {
	r.status = &status
	return r
}

func (r ApiV5IntegrationsProjectsProjectStatusesGetRequest) StatusInDays(statusInDays int32) ApiV5IntegrationsProjectsProjectStatusesGetRequest {
	r.statusInDays = &statusInDays
	return r
}

func (r ApiV5IntegrationsProjectsProjectStatusesGetRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsProjectStatusesGetExecute(r)
}

/*
V5IntegrationsProjectsProjectStatusesGet Method for V5IntegrationsProjectsProjectStatusesGet

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsProjectStatusesGetRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsProjectStatusesGet(ctx context.Context) ApiV5IntegrationsProjectsProjectStatusesGetRequest {
	return ApiV5IntegrationsProjectsProjectStatusesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsProjectStatusesGetExecute(r ApiV5IntegrationsProjectsProjectStatusesGetRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsProjectStatusesGet")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/ProjectStatuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.statusInDays != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statusInDays", r.statusInDays, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest struct {
	ctx                            context.Context
	ApiService                     *ProjectsAPIService
	updateProjectDatesRequestModel *UpdateProjectDatesRequestModel
}

func (r ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest) UpdateProjectDatesRequestModel(updateProjectDatesRequestModel UpdateProjectDatesRequestModel) ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest {
	r.updateProjectDatesRequestModel = &updateProjectDatesRequestModel
	return r
}

func (r ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsUpdateProjectDatesPostExecute(r)
}

/*
V5IntegrationsProjectsUpdateProjectDatesPost Method for V5IntegrationsProjectsUpdateProjectDatesPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsUpdateProjectDatesPost(ctx context.Context) ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest {
	return ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsUpdateProjectDatesPostExecute(r ApiV5IntegrationsProjectsUpdateProjectDatesPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsUpdateProjectDatesPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/UpdateProjectDates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/json", "text/json", "application/*+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateProjectDatesRequestModel
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiV5IntegrationsProjectsUploadProjectFilesPostRequest struct {
	ctx        context.Context
	ApiService *ProjectsAPIService
	folderId   *int64
	projectId  *int64
	csvTags    *string
}

func (r ApiV5IntegrationsProjectsUploadProjectFilesPostRequest) FolderId(folderId int64) ApiV5IntegrationsProjectsUploadProjectFilesPostRequest {
	r.folderId = &folderId
	return r
}

func (r ApiV5IntegrationsProjectsUploadProjectFilesPostRequest) ProjectId(projectId int64) ApiV5IntegrationsProjectsUploadProjectFilesPostRequest {
	r.projectId = &projectId
	return r
}

func (r ApiV5IntegrationsProjectsUploadProjectFilesPostRequest) CsvTags(csvTags string) ApiV5IntegrationsProjectsUploadProjectFilesPostRequest {
	r.csvTags = &csvTags
	return r
}

func (r ApiV5IntegrationsProjectsUploadProjectFilesPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.V5IntegrationsProjectsUploadProjectFilesPostExecute(r)
}

/*
V5IntegrationsProjectsUploadProjectFilesPost Method for V5IntegrationsProjectsUploadProjectFilesPost

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiV5IntegrationsProjectsUploadProjectFilesPostRequest
*/
func (a *ProjectsAPIService) V5IntegrationsProjectsUploadProjectFilesPost(ctx context.Context) ApiV5IntegrationsProjectsUploadProjectFilesPostRequest {
	return ApiV5IntegrationsProjectsUploadProjectFilesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *ProjectsAPIService) V5IntegrationsProjectsUploadProjectFilesPostExecute(r ApiV5IntegrationsProjectsUploadProjectFilesPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectsAPIService.V5IntegrationsProjectsUploadProjectFilesPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v5/Integrations/Projects/UploadProjectFiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.folderId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "folderId", r.folderId, "form", "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "projectId", r.projectId, "form", "")
	}
	if r.csvTags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "csvTags", r.csvTags, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["ApiKey"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
