openapi: 3.1.0
info:
  title: Core API
  version: "5"
servers:
- url: https://api.albiware.com
security:
- sec0: []
paths:
  /v5/Integrations/Webhooks/Create:
    post:
      deprecated: false
      description: Create a new webhook.
      operationId: create-webhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_webhook_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "message": "Added Successfully",
                      "status": 1,
                      "data": 1
                    }
              schema:
                $ref: "#/components/schemas/create_webhook_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "message": "Something went wrong! Please try again.",
                      "status": 5,
                      "data": null
                    }
              schema:
                $ref: "#/components/schemas/create_webhook_500_response"
          description: "500"
      summary: Create a Webhook
  /v5/Integrations/Webhooks/Delete/{id}:
    delete:
      deprecated: false
      description: ""
      operationId: delete-webhook
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "message": "Added Successfully",
                      "status": 0,
                      "data": null
                    }
              schema:
                $ref: "#/components/schemas/delete_webhook_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Delete a Webhook
  /v5/Integrations/Projects/{id}:
    get:
      deprecated: false
      description: Get one project by id.
      operationId: retrieve-project
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 29778,
                      "name": "Ginnys Property Management-051-BIO",
                      "customerName": "Ginny's Property Management",
                      "customerPhoneNumber": "(555) 555-5523",
                      "customerEmail": "test123@gmail.com",
                      "status": "New",
                      "projectType": "Biohazard",
                      "propertyType": "commercial",
                      "location": "Main",
                      "address": "1234 South Michigan Avenue  Chicago IL 60605",
                      "address1": "1234 South Michigan Avenue",
                      "address2": null,
                      "city": "Chicago",
                      "state": "IL",
                      "zipCode": "60605",
                      "country": "United States",
                      "longitude": -87.62433399999999,
                      "latitude": 41.866506,
                      "referralSource": "Online Marketing",
                      "insuranceClaimNumber": null,
                      "estimatedRevenue": null,
                      "budgetRevenue": null,
                      "actualRevenue": null,
                      "paidAmount": null,
                      "totalCogs": null,
                      "grossMargin": null,
                      "grossProfit": 0,
                      "budgetedGrossMargin": null,
                      "projectBilledPercent": null,
                      "projectLostCause": null,
                      "salesPerson": null,
                      "salesPersonPhoneNumber": null,
                      "salesPersonEmail": null,
                      "projectManager": "John Smith",
                      "projectManagerPhoneNumber": "(123) 456-7891",
                      "projectManagerEmail": "johnsmith@email.com",
                      "referrerName": null,
                      "referrerPhoneNumber": null,
                      "referrerEmail": null,
                      "referrerOrganizationName": null,
                      "referrerOrganizationPhoneNumber": null,
                      "referrerOrganizationEmail": null,
                      "referrerContactName": null,
                      "referrerContactPhoneNumber": null,
                      "referrerContactEmail": null,
                      "closed": "No",
                      "createdAt": "2022-03-03T14:06:22.42",
                      "updatedAt": "2022-03-03T21:15:07.83",
                      "imageLossUrl": null,
                      "linkedProject": [
                        {
                          "id": 18899,
                          "projectName": "123 William Street Test - ESR",
                          "linkedProjectId": 142461,
                          "linkedProjectName": "TESTING RENAME-3:19",
                          "type": "Emergency Services",
                          "subType": null,
                          "insurancePolicy": null,
                          "lossAdjusterReference": null,
                          "notes": null
                        }
                      ]
                    }
              schema:
                $ref: "#/components/schemas/retrieve_project_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get a Project By Id
  /v5/Integrations/Projects/CreateNote:
    post:
      deprecated: false
      description: Creates a note on the timeline of a given project
      operationId: create-note
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_note_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": 10028,
                      "message": "Contact created successfully.",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_note_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Create a Note
  /v5/Integrations/Webhooks:
    get:
      deprecated: false
      description: Get a list of all webhooks.
      operationId: list-webhooks
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": 1,
                        "webhookUrl": "www.testing.com",
                        "scopes": [
                          "project.created"
                        ],
                        "createdAt": "2022-03-14T18:36:09.15"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/list_webhooks_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
      summary: Get All Webhooks
  /v5/Integrations/Projects/GetProjectDates:
    get:
      deprecated: false
      description: Get the values of all the dates associated with a project.
      operationId: get-all-projects-copy
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "Final File Review": null,
                        "Estimate Approved": null,
                        "In Production 1": null,
                        "Ready For Production": null,
                        "Estimate Work Start": null,
                        "Lost": null,
                        "Work Start - Actual": null,
                        "work Auth signed": null,
                        "Work Complete - Projected": null,
                        "Project Lost": null,
                        "Sales": null
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_all_projects_copy_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get All Project Dates
  /v5/Integrations/Projects/GetProjectStatus:
    get:
      deprecated: false
      description: Get a project's current status.
      operationId: get-projects-by-status-copy
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "statusId": 7909,
                        "statusName": "Ready for Production",
                        "message": "Success!",
                        "status": 1
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_projects_by_status_copy_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Project's Status
  /v5/Integrations/Projects/GetProjectDate:
    get:
      deprecated: false
      description: Get the value of a project's certain date by dateid.
      operationId: get-projects-status-copy
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 824530,
                      "projectId": 447842,
                      "date": "Ready For Production",
                      "value": "06/12/2024 12:00 AM",
                      "createdAt": "2024-06-11T15:43:31.617",
                      "updatedAt": null
                    }
              schema:
                $ref: "#/components/schemas/get_projects_status_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Project's Date
  /v5/Integrations/Projects/GetProjectStaff:
    post:
      deprecated: false
      description: Get a list of staff filtered by project and roles.
      operationId: create-note-copy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_note_copy_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": [
                        {
                          "id": 686128,
                          "staffId": 8659,
                          "staffFirstName": "Evie",
                          "staffLastName": "Song",
                          "staffDisplayName": "Evie Song",
                          "phoneNumber": "3127211236",
                          "email": "evie@albiware.com",
                          "projectRoles": "Sales Person",
                          "staffProfileImageUrl": null
                        }
                      ],
                      "message": "Staff found",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_note_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Project Staff
  /v5/Integrations/Activities:
    get:
      deprecated: false
      description: Get a list of all activities.
      operationId: get-all-projects-copy-1
      parameters:
      - explode: true
        in: query
        name: organizationId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: contactId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: startDate
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: endDate
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": 854635,\n    \"contactId\": null,\n\
                    \    \"organizationId\": 85085,\n    \"relationshipName\": \"\
                    Albiware\",\n    \"date\": \"2024-06-05T08:35:00\",\n    \"type\"\
                    : \"Text Message\",\n    \"notes\": \"test\",\n    \"source\"\
                    : null,\n    \"sourceId\": null,\n    \"createdById\": 8617,\n\
                    \    \"createdByName\": \"Albi Support\"\n  },\n  {\n    \"id\"\
                    : 835216,\n    \"contactId\": 543814,\n    \"organizationId\"\
                    : 114208,\n    \"relationshipName\": \"Test\",\n    \"date\":\
                    \ \"2024-02-29T10:43:36.053\",\n    \"type\": \"Phone Call\",\n\
                    \    \"notes\": null,\n    \"source\": \"call\",\n    \"sourceId\"\
                    : 119711,\n    \"createdById\": 4290,\n    \"createdByName\":\
                    \ \"Albi Support\"\n  },\n  {\n    \"id\": 835215,\n    \"contactId\"\
                    : 543814,\n    \"organizationId\": 116925,\n    \"relationshipName\"\
                    : \"Mr. Sam Charif\",\n    \"date\": \"2024-02-29T10:40:04.537\"\
                    ,\n    \"type\": \"Phone Call\",\n    \"notes\": null,\n    \"\
                    source\": \"call\",\n    \"sourceId\": 119709,\n    \"createdById\"\
                    : 4290,\n    \"createdByName\": \"Albi Support\"\n  }\n] "
              schema:
                items:
                  $ref: "#/components/schemas/get_all_projects_copy_1_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get All Activities
  /v5/Integrations/Activities/Create:
    post:
      deprecated: false
      description: Create an activity record associated to a contact or an organization.
      operationId: get-staff-list-copy
      requestBody:
        content:
          application/json:
            examples:
              Request Example:
                value:
                  organizationId: 0
                  contactId: 0
                  relationshipName: Albiware
                  typeId: 6711
                  date: 2024-06-11T16:17:49.297Z
                  notes: note
                  source: ""
                  sourceId: 0
            schema:
              $ref: "#/components/schemas/get_staff_list_copy_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": 864315,
                      "message": "Activity was created successfully.",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/get_staff_list_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Create an Activity
  /v5/Integrations/Asset/Equipment/Update/{id}:
    post:
      deprecated: false
      description: Update an equipment.
      operationId: create-a-equipment-copy
      parameters:
      - description: Required
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_equipment_copy_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": {
                        "id": 80251,
                        "equipmentCustomId": "new id",
                        "barcode": null,
                        "equipmentTypeID": 3779,
                        "type": "Airmover",
                        "typeImage": {
                          "id": 2,
                          "name": "Air Mover",
                          "thumbnailImage": "air-mover.png",
                          "svg": "air-mover.svg",
                          "active": true,
                          "priority": 0,
                          "isDefault": false
                        },
                        "manufacturer": null,
                        "serialNo": null,
                        "status": "in_Use",
                        "statusName": "In Use",
                        "maxDay": null,
                        "locationId": 834,
                        "locationName": "Oakbrook Office",
                        "projectId": null,
                        "projectName": "N/A",
                        "assignAt": null,
                        "model": null,
                        "billingType": null,
                        "billingCost": null,
                        "purchaseDate": "2024-06-11T18:11:19.483",
                        "purchasePrice": null,
                        "options": 272,
                        "device": null,
                        "priceListItems": null
                      },
                      "message": "Equipment \"new id\" updated successfully!",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_a_equipment_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Update an Equipment
  /v5/Integrations/Contacts:
    get:
      deprecated: false
      description: Get a list of all contacts.
      operationId: get-all-activities-copy
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": 564637,
                        "name": "El Krip",
                        "firstName": "El",
                        "lastName": "Krip",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": "United States",
                        "longitude": null,
                        "latitude": null,
                        "phoneNumber": "999-999-9999",
                        "mobileNumber": "999-999-9999",
                        "email": null,
                        "organizationId": 149638,
                        "organizationName": "Stilvi",
                        "parentOrganizationId": null,
                        "parentOrganizationName": null,
                        "contactTypeIds": [
                          11616
                        ],
                        "types": [
                          "Customer"
                        ],
                        "type": "Customer",
                        "sandbox": null,
                        "referralSourceID": 8287,
                        "referralSource": "Online Marketing",
                        "relationshipStatusID": 0,
                        "relationshipStatus": null,
                        "salespersonId": null,
                        "salespersonName": null,
                        "canDelete": false,
                        "createdAt": "2024-06-07T15:27:37.47",
                        "updatedAt": "2024-06-07T15:27:37.47"
                      },
                      {
                        "id": 564399,
                        "name": "test test",
                        "firstName": "test",
                        "lastName": "test",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": "United States",
                        "longitude": null,
                        "latitude": null,
                        "phoneNumber": null,
                        "mobileNumber": null,
                        "email": null,
                        "organizationId": 149565,
                        "organizationName": "Albiware",
                        "parentOrganizationId": null,
                        "parentOrganizationName": null,
                        "contactTypeIds": [
                          11616
                        ],
                        "types": [
                          "Customer"
                        ],
                        "type": "Customer",
                        "sandbox": null,
                        "referralSourceID": 8290,
                        "referralSource": "Agent",
                        "relationshipStatusID": 0,
                        "relationshipStatus": null,
                        "salespersonId": null,
                        "salespersonName": null,
                        "canDelete": false,
                        "createdAt": "2024-06-07T10:36:27.923",
                        "updatedAt": "2024-06-07T10:36:27.923"
                      },
                      {
                        "id": 564398,
                        "name": "Sam TEST",
                        "firstName": "Sam",
                        "lastName": "TEST",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": "United States",
                        "longitude": null,
                        "latitude": null,
                        "phoneNumber": null,
                        "mobileNumber": null,
                        "email": null,
                        "organizationId": null,
                        "organizationName": null,
                        "parentOrganizationId": null,
                        "parentOrganizationName": null,
                        "contactTypeIds": [
                          11616
                        ],
                        "types": [
                          "Customer"
                        ],
                        "type": "Customer",
                        "sandbox": null,
                        "referralSourceID": 8289,
                        "referralSource": "Insurance Referral",
                        "relationshipStatusID": 0,
                        "relationshipStatus": null,
                        "salespersonId": null,
                        "salespersonName": null,
                        "canDelete": false,
                        "createdAt": "2024-06-07T10:35:40.51",
                        "updatedAt": "2024-06-07T10:35:40.51"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_all_activities_copy_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get All Contacts
  /v5/Integrations/Contacts/{id}:
    get:
      deprecated: false
      description: Get one contact record by id.
      operationId: get-all-contacts-copy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 564637,
                      "name": "El Krip",
                      "firstName": "El",
                      "lastName": "Krip",
                      "address1": null,
                      "address2": null,
                      "city": null,
                      "state": null,
                      "zipcode": null,
                      "country": "United States",
                      "longitude": null,
                      "latitude": null,
                      "phoneNumber": "999-999-9999",
                      "mobileNumber": "999-999-9999",
                      "email": null,
                      "organizationId": 149638,
                      "organizationName": "Stilvi",
                      "parentOrganizationId": null,
                      "parentOrganizationName": null,
                      "contactTypeIds": [
                        11616
                      ],
                      "types": [
                        "Customer"
                      ],
                      "type": "Customer",
                      "sandbox": null,
                      "referralSourceID": 8287,
                      "referralSource": "Online Marketing",
                      "relationshipStatusID": 0,
                      "relationshipStatus": null,
                      "salespersonId": null,
                      "salespersonName": null,
                      "canDelete": false,
                      "createdAt": "2024-06-07T15:27:37.47",
                      "updatedAt": "2024-06-07T15:27:37.47"
                    }
              schema:
                $ref: "#/components/schemas/get_all_activities_copy_200_response_inner"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get a Contact By Id
  /v5/Integrations/Contacts/Statuses:
    get:
      deprecated: false
      description: Get a list of all contacts with their status set.
      operationId: get-all-contacts-copy-1
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "contactId": 339273,
                        "id": 16987,
                        "name": "Pam Beasley",
                        "firstName": "Pam",
                        "lastName": "Beasley",
                        "address1": "1234 Gale Drive",
                        "address2": null,
                        "city": null,
                        "state": "OH",
                        "zipcode": "44131",
                        "country": "United States",
                        "longitude": -81.6639904,
                        "latitude": 41.3864281,
                        "phoneNumber": "234-568-8954",
                        "mobileNumber": "234-568-8954",
                        "email": null,
                        "organizationId": null,
                        "organizationName": null,
                        "parentOrganizationId": null,
                        "parentOrganizationName": null,
                        "contactTypeIds": null,
                        "types": null,
                        "type": " Customer",
                        "sandbox": null,
                        "referralSourceID": 8289,
                        "referralSource": "Insurance Referral",
                        "relationshipStatusID": 522,
                        "relationshipStatus": "Active",
                        "salespersonId": null,
                        "salespersonName": null,
                        "canDelete": false,
                        "createdAt": "2023-10-09T07:28:27.517",
                        "updatedAt": "2024-01-16T14:50:10.047"
                      },
                      {
                        "contactId": 338752,
                        "id": 16986,
                        "name": "Leslie Knope",
                        "firstName": "Leslie",
                        "lastName": "Knope",
                        "address1": "1234 Chagrin Boulevard",
                        "address2": null,
                        "city": "Woodmere",
                        "state": "OH",
                        "zipcode": "44122",
                        "country": "United States",
                        "longitude": -81.47496009999999,
                        "latitude": 41.4619461,
                        "phoneNumber": null,
                        "mobileNumber": null,
                        "email": null,
                        "organizationId": null,
                        "organizationName": null,
                        "parentOrganizationId": null,
                        "parentOrganizationName": null,
                        "contactTypeIds": null,
                        "types": null,
                        "type": " Customer",
                        "sandbox": null,
                        "referralSourceID": 8287,
                        "referralSource": "Online Marketing",
                        "relationshipStatusID": 522,
                        "relationshipStatus": "Active",
                        "salespersonId": null,
                        "salespersonName": null,
                        "canDelete": false,
                        "createdAt": "2023-10-06T08:13:20.34",
                        "updatedAt": "2024-05-10T14:02:07.003"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_all_contacts_copy_1_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Contacts with Statuses
  /v5/Integrations/Contacts/Create:
    post:
      deprecated: false
      description: Create a new contact.
      operationId: update-an-equipment-copy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_an_equipment_copy_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": 570740,
                      "message": "Contact created successfully.",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/update_an_equipment_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Create a Contact
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "firstName": "John",
              "lastName": "Smith",
              "contactTypeIds": [
                11610, 11611
              ],
              "address1": "1234 Maple Street",
              "city": "Springfield",
              "state": "IL",
              "zipCode": "62704",
              "country": "United States",
              "email": "user@example.com",
            }
        samples-languages:
        - text
  /v5/Integrations/Contacts/ChangeStatus:
    post:
      deprecated: false
      description: Update a contact's statues.
      operationId: create-a-contact-copy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_contact_copy_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "message": "Status changed successfully!",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_a_contact_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Update Contact Status
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "contactId": 570740,
              "status": "Active"
            }
        samples-languages:
        - text
  /v5/Integrations/Options/GetProjectRoleOptions:
    get:
      deprecated: false
      description: Get a list of all project role options.
      operationId: get-all-contacts-copy-2
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": 4687,
                        "name": "Accountant/Billing"
                      },
                      {
                        "id": 4686,
                        "name": "Estimator"
                      },
                      {
                        "id": 4682,
                        "name": "Project Manager"
                      },
                      {
                        "id": 4684,
                        "name": "Sales Person"
                      },
                      {
                        "id": 4685,
                        "name": "Team Coordinator"
                      },
                      {
                        "id": 4683,
                        "name": "Technician"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_all_contacts_copy_2_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Project Role Options
  /v5/Integrations/Options/GetRelationshipTypeOptions:
    get:
      deprecated: false
      description: Get a list of all relationship type options.
      operationId: get-project-role-options-copy
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": 11610,
                        "name": "Subcontractor"
                      },
                      {
                        "id": 11611,
                        "name": "Referrer"
                      },
                      {
                        "id": 11612,
                        "name": "Insurance Company"
                      },
                      {
                        "id": 11613,
                        "name": "Insurance Agency"
                      },
                      {
                        "id": 11614,
                        "name": "Property Management Company"
                      },
                      {
                        "id": 11615,
                        "name": "Fire Department"
                      },
                      {
                        "id": 11616,
                        "name": "Customer"
                      },
                      {
                        "id": 11617,
                        "name": "Tenant"
                      },
                      {
                        "id": 11618,
                        "name": "Unit Owner Company"
                      },
                      {
                        "id": 11619,
                        "name": "Insurance Adjuster"
                      },
                      {
                        "id": 11620,
                        "name": "Vendor"
                      },
                      {
                        "id": 11621,
                        "name": "Insured"
                      },
                      {
                        "id": 13851,
                        "name": "Sales Person"
                      },
                      {
                        "id": 15038,
                        "name": "Estimator"
                      },
                      {
                        "id": 15855,
                        "name": "Third Party Claimant"
                      },
                      {
                        "id": 17970,
                        "name": "Lead"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_project_role_options_copy_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Relationship Type Options
  /v5/Integrations/Options/GetReferralSourceOptions:
    get:
      deprecated: false
      description: Get a list of all referral source options.
      operationId: get-relationship-type-options-copy
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": 8287,
                        "name": "Online Marketing"
                      },
                      {
                        "id": 8288,
                        "name": "Vehicle Wraps"
                      },
                      {
                        "id": 8289,
                        "name": "Insurance Referral"
                      },
                      {
                        "id": 8290,
                        "name": "Agent"
                      },
                      {
                        "id": 8721,
                        "name": "Word of Mouth"
                      },
                      {
                        "id": 8722,
                        "name": "Placeholder"
                      },
                      {
                        "id": 11645,
                        "name": "Unknown"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_relationship_type_options_copy_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Referral Source Options
  /v5/Integrations/Options/GetActivityTypeOptions:
    get:
      deprecated: false
      description: Get a list of all activity type options.
      operationId: get-referral-source-options-copy
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |2-

                      {
                        "id": 6710,
                        "name": "Route Stop"
                      },
                      {
                        "id": 6711,
                        "name": "Sent Email"
                      },
                      {
                        "id": 6712,
                        "name": "Phone Call"
                      },
                      {
                        "id": 6713,
                        "name": "Text Message"
                      },
                      {
                        "id": 6714,
                        "name": "Appointment"
                      },
                      {
                        "id": 6715,
                        "name": "Lunch and Learn"
                      },
                      {
                        "id": 6716,
                        "name": "Sent Email"
                      },
                      {
                        "id": 6717,
                        "name": "Phone Call"
                      },
                      {
                        "id": 6718,
                        "name": "Text Message"
                      }
                    ]
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Activity Type Options
  /v5/Integrations/Options/GetRelationshipStatusOptions:
    get:
      deprecated: false
      description: Get a list of all relationship status options.
      operationId: get-activity-type-options-copy
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": 522,
                        "name": "Active"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_activity_type_options_copy_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Relationship Status Options
  /v5/Integrations/Organizations:
    get:
      deprecated: false
      description: Get a list of all organizations.
      operationId: get-all-contacts-copy-3
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "id": 149638,
                        "name": "Stilvi",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": "United States",
                        "latitude": null,
                        "longitude": null,
                        "phoneNumber": "999-999-9999",
                        "email": null,
                        "salepersonId": null,
                        "saleperson": null,
                        "sandbox": null,
                        "organizationTypeIds": [
                          11616
                        ],
                        "organizationTypes": [
                          "Customer"
                        ],
                        "displayOrganizationTypes": "Customer",
                        "isInsuranceCompany": false,
                        "parentOrganizationId": null,
                        "parentOrganization": null,
                        "relationshipStatusID": 0,
                        "relationshipStatus": null,
                        "referralSourceID": 8287,
                        "referralSource": "Online Marketing",
                        "canDelete": false,
                        "financialCRMID": null,
                        "priceListID": null,
                        "priceListName": null,
                        "taxID": null,
                        "createdAt": "2024-06-07T15:27:37.47",
                        "updatedAt": "2024-06-07T15:27:37.47"
                      },
                      {
                        "id": 149565,
                        "name": "Albiware",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": "United States",
                        "latitude": null,
                        "longitude": null,
                        "phoneNumber": null,
                        "email": null,
                        "salepersonId": null,
                        "saleperson": null,
                        "sandbox": null,
                        "organizationTypeIds": [
                          11616
                        ],
                        "organizationTypes": [
                          "Customer"
                        ],
                        "displayOrganizationTypes": "Customer",
                        "isInsuranceCompany": false,
                        "parentOrganizationId": null,
                        "parentOrganization": null,
                        "relationshipStatusID": 0,
                        "relationshipStatus": null,
                        "referralSourceID": 8290,
                        "referralSource": "Agent",
                        "canDelete": false,
                        "financialCRMID": null,
                        "priceListID": null,
                        "priceListName": null,
                        "taxID": null,
                        "createdAt": "2024-06-07T10:36:27.923",
                        "updatedAt": "2024-06-07T10:36:27.923"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_all_contacts_copy_3_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get All Organizations
  /v5/Integrations/Organizations/{id}:
    get:
      deprecated: false
      description: Get one organization record by id.
      operationId: get-a-contact-by-id-copy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 85085,
                      "name": "Albiware",
                      "address1": "1333 Butterfield Road",
                      "address2": null,
                      "city": "Downers Grove",
                      "state": "IL",
                      "zipcode": "60515",
                      "country": "United States",
                      "latitude": null,
                      "longitude": null,
                      "phoneNumber": null,
                      "email": null,
                      "salepersonId": null,
                      "saleperson": null,
                      "sandbox": null,
                      "organizationTypeIds": [
                        11610,
                        11612,
                        11611
                      ],
                      "organizationTypes": [
                        "Subcontractor",
                        "Insurance Company",
                        "Referrer"
                      ],
                      "displayOrganizationTypes": "Subcontractor, Insurance Company, Referrer",
                      "isInsuranceCompany": true,
                      "parentOrganizationId": null,
                      "parentOrganization": null,
                      "relationshipStatusID": 0,
                      "relationshipStatus": null,
                      "referralSourceID": 8287,
                      "referralSource": "Online Marketing",
                      "canDelete": false,
                      "financialCRMID": "",
                      "priceListID": 1392,
                      "priceListName": "Albi Support",
                      "taxID": "United States",
                      "createdAt": "2023-09-07T12:10:18.58",
                      "updatedAt": "2024-05-29T13:30:43.457"
                    }
              schema:
                $ref: "#/components/schemas/get_a_contact_by_id_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get an Organization By Id
  /v5/Integrations/Organizations/Statuses:
    get:
      deprecated: false
      description: Get a list of all organizations with their status set.
      operationId: get-active-contacts-copy
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    [
                      {
                        "organizationId": 95547,
                        "id": 11903,
                        "name": "Rose Motel",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": null,
                        "latitude": null,
                        "longitude": null,
                        "phoneNumber": null,
                        "email": null,
                        "salepersonId": 5766,
                        "saleperson": "Andy Bernard",
                        "sandbox": null,
                        "organizationTypeIds": null,
                        "organizationTypes": null,
                        "displayOrganizationTypes": " Customer",
                        "isInsuranceCompany": false,
                        "parentOrganizationId": null,
                        "parentOrganization": null,
                        "relationshipStatusID": 522,
                        "relationshipStatus": "Active",
                        "referralSourceID": null,
                        "referralSource": "Online Marketing",
                        "canDelete": false,
                        "financialCRMID": null,
                        "priceListID": null,
                        "priceListName": null,
                        "taxID": null,
                        "createdAt": "2023-10-16T09:08:33.99",
                        "updatedAt": "2024-02-22T13:25:41.113"
                      },
                      {
                        "organizationId": 95547,
                        "id": 11902,
                        "name": "Rose Motel",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": null,
                        "latitude": null,
                        "longitude": null,
                        "phoneNumber": null,
                        "email": null,
                        "salepersonId": 5766,
                        "saleperson": "Andy Bernard",
                        "sandbox": null,
                        "organizationTypeIds": null,
                        "organizationTypes": null,
                        "displayOrganizationTypes": " Customer",
                        "isInsuranceCompany": false,
                        "parentOrganizationId": null,
                        "parentOrganization": null,
                        "relationshipStatusID": 522,
                        "relationshipStatus": "Active",
                        "referralSourceID": null,
                        "referralSource": "Online Marketing",
                        "canDelete": false,
                        "financialCRMID": null,
                        "priceListID": null,
                        "priceListName": null,
                        "taxID": null,
                        "createdAt": "2023-10-16T09:08:33.99",
                        "updatedAt": "2024-02-22T13:25:41.113"
                      },
                      {
                        "organizationId": 95547,
                        "id": 11901,
                        "name": "Rose Motel",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": null,
                        "latitude": null,
                        "longitude": null,
                        "phoneNumber": null,
                        "email": null,
                        "salepersonId": 5766,
                        "saleperson": "Andy Bernard",
                        "sandbox": null,
                        "organizationTypeIds": null,
                        "organizationTypes": null,
                        "displayOrganizationTypes": " Customer",
                        "isInsuranceCompany": false,
                        "parentOrganizationId": null,
                        "parentOrganization": null,
                        "relationshipStatusID": 522,
                        "relationshipStatus": "Active",
                        "referralSourceID": null,
                        "referralSource": "Online Marketing",
                        "canDelete": false,
                        "financialCRMID": null,
                        "priceListID": null,
                        "priceListName": null,
                        "taxID": null,
                        "createdAt": "2023-10-16T09:08:33.99",
                        "updatedAt": "2024-02-22T13:25:41.113"
                      },
                      {
                        "organizationId": 95547,
                        "id": 11900,
                        "name": "Rose Motel",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": null,
                        "latitude": null,
                        "longitude": null,
                        "phoneNumber": null,
                        "email": null,
                        "salepersonId": 5766,
                        "saleperson": "Andy Bernard",
                        "sandbox": null,
                        "organizationTypeIds": null,
                        "organizationTypes": null,
                        "displayOrganizationTypes": " Customer",
                        "isInsuranceCompany": false,
                        "parentOrganizationId": null,
                        "parentOrganization": null,
                        "relationshipStatusID": 522,
                        "relationshipStatus": "Active",
                        "referralSourceID": null,
                        "referralSource": "Online Marketing",
                        "canDelete": false,
                        "financialCRMID": null,
                        "priceListID": null,
                        "priceListName": null,
                        "taxID": null,
                        "createdAt": "2023-10-16T09:08:33.99",
                        "updatedAt": "2024-02-22T13:25:41.113"
                      },
                      {
                        "organizationId": 95547,
                        "id": 11899,
                        "name": "Rose Motel",
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "state": null,
                        "zipcode": null,
                        "country": null,
                        "latitude": null,
                        "longitude": null,
                        "phoneNumber": null,
                        "email": null,
                        "salepersonId": 5766,
                        "saleperson": "Andy Bernard",
                        "sandbox": null,
                        "organizationTypeIds": null,
                        "organizationTypes": null,
                        "displayOrganizationTypes": " Customer",
                        "isInsuranceCompany": false,
                        "parentOrganizationId": null,
                        "parentOrganization": null,
                        "relationshipStatusID": 522,
                        "relationshipStatus": "Active",
                        "referralSourceID": null,
                        "referralSource": "Online Marketing",
                        "canDelete": false,
                        "financialCRMID": null,
                        "priceListID": null,
                        "priceListName": null,
                        "taxID": null,
                        "createdAt": "2023-10-16T09:08:33.99",
                        "updatedAt": "2024-02-22T13:25:41.113"
                      }
                    ]
              schema:
                items:
                  $ref: "#/components/schemas/get_active_contacts_copy_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Organizations with Statuses
  /v5/Integrations/Organizations/Create:
    post:
      deprecated: false
      description: Create a new organization.
      operationId: create-a-contact-copy-1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_contact_copy_1_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": 150450,
                      "message": "Organization created successfully.",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_a_contact_copy_1_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Create an Organization
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "name": "new org",
              "organizationTypeIds": [
                11610, 11612
              ],
              "address1": "1234 Maple Street",
              "city": "Springfield",
              "state": "IL",
              "country": "United States",
              "zipCode": "62704",
              "email": "user@example.com",
              "phoneNumber": "3127211234",
              "sandbox": "note"
            }
        samples-languages:
        - text
  /v5/Integrations/Organizations/ChangeStatus:
    post:
      deprecated: false
      description: Update an organization's statues.
      operationId: update-contact-status-copy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/update_contact_status_copy_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "message": "Status changed successfully!",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_a_contact_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Update Organization Status
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "organizationId": 150450,
              "status": "Active"
            }
        samples-languages:
        - text
  /v5/Integrations/Tasks:
    get:
      deprecated: false
      description: Get a list of all tasks.
      operationId: get-all-contacts-copy-4
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": 215171,\n    \"staffId\": 8659,\n  \
                    \  \"staff\": \"Evie Song\",\n    \"taskAction\": \"Send Email\"\
                    ,\n    \"projectId\": null,\n    \"project\": null,\n    \"displayProject\"\
                    : \"N/A\",\n    \"dueAt\": null,\n    \"displayDueDate\": null,\n\
                    \    \"listDisplayDueDate\": \"N/A\",\n    \"notes\": null,\n\
                    \    \"status\": \"to-do\",\n    \"displayStatus\": \"To-do\"\
                    ,\n    \"actionText\": \"Start Task\",\n    \"createdAt\": \"\
                    2024-06-11T11:33:49.043\",\n    \"createdBy\": \"Albi Support\"\
                    ,\n    \"createdById\": 0,\n    \"lastUpdated\": \"2024-06-11T11:33:49.043\"\
                    ,\n    \"lastUpdateBy\": null,\n    \"documents\": null\n  },\n\
                    \  {\n    \"id\": 214232,\n    \"staffId\": 8685,\n    \"staff\"\
                    : \"Eleni Kripintiris\",\n    \"taskAction\": \"Take photos\"\
                    ,\n    \"projectId\": 447381,\n    \"project\": \"0269--Stilvi-060724-MLD\"\
                    ,\n    \"displayProject\": \"0269--Stilvi-060724-MLD\",\n    \"\
                    dueAt\": \"2024-06-11T04:59:59\",\n    \"displayDueDate\": null,\n\
                    \    \"listDisplayDueDate\": \"N/A\",\n    \"notes\": \"Test\"\
                    ,\n    \"status\": \"to-do\",\n    \"displayStatus\": \"To-do\"\
                    ,\n    \"actionText\": \"Start Task\",\n    \"createdAt\": \"\
                    2024-06-10T10:19:59.25\",\n    \"createdBy\": \"Albi  Support\"\
                    ,\n    \"createdById\": 0,\n    \"lastUpdated\": \"2024-06-10T10:19:59.25\"\
                    ,\n    \"lastUpdateBy\": null,\n    \"documents\": null\n  } \n\
                    ]"
              schema:
                items:
                  $ref: "#/components/schemas/get_all_contacts_copy_4_200_response_inner"
                type: array
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get All Tasks
  /v5/Integrations/Tasks/Create:
    post:
      deprecated: false
      description: Create a new task.
      operationId: create-an-organization-copy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_an_organization_copy_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": [
                        215752
                      ],
                      "message": "Task created successfully!",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_an_organization_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Create a Task
      x-readme:
        code-samples:
        - language: text
          code: |-
            {
              "staffId": 8685,
              "taskActionId": 5526,
              "dueDate": "2024-06-13T12:59:05.515Z"
            }
        samples-languages:
        - text
  /v5/Integrations/Tasks/{id}:
    get:
      deprecated: false
      description: Get one task by its id.
      operationId: get-all-tasks-copy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 215752,
                      "staffId": 8685,
                      "staff": "Eleni Kripintiris",
                      "taskAction": "Sign Form",
                      "projectId": null,
                      "project": null,
                      "displayProject": "N/A",
                      "dueAt": "2024-06-13T12:59:05.517",
                      "displayDueDate": "6/13/2024 12:59 PM",
                      "listDisplayDueDate": "6/13/2024 12:59 PM",
                      "notes": null,
                      "status": "to-do",
                      "displayStatus": "To-do",
                      "actionText": "Start Task",
                      "createdAt": "2024-06-12T08:00:39.227",
                      "createdBy": "Albi Support",
                      "createdById": 0,
                      "lastUpdated": "2024-06-12T08:00:39.227",
                      "lastUpdateBy": null,
                      "documents": null
                    }
              schema:
                $ref: "#/components/schemas/get_all_tasks_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get a Task By Id
  /v5/Integrations/Staff/{id}:
    get:
      deprecated: false
      description: Get one task by its id.
      operationId: get-a-task-by-id-copy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 215752,
                      "staffId": 8685,
                      "staff": "Eleni Kripintiris",
                      "taskAction": "Sign Form",
                      "projectId": null,
                      "project": null,
                      "displayProject": "N/A",
                      "dueAt": "2024-06-13T12:59:05.517",
                      "displayDueDate": "6/13/2024 12:59 PM",
                      "listDisplayDueDate": "6/13/2024 12:59 PM",
                      "notes": null,
                      "status": "to-do",
                      "displayStatus": "To-do",
                      "actionText": "Start Task",
                      "createdAt": "2024-06-12T08:00:39.227",
                      "createdBy": "Albi Support",
                      "createdById": 0,
                      "lastUpdated": "2024-06-12T08:00:39.227",
                      "lastUpdateBy": null,
                      "documents": null
                    }
              schema:
                $ref: "#/components/schemas/get_all_tasks_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Staff By Id
  /v5/Integrations/Activities/{id}:
    get:
      deprecated: false
      description: Get one task by its id.
      operationId: get-a-task-by-id-copy-1
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "id": 215752,
                      "staffId": 8685,
                      "staff": "Eleni Kripintiris",
                      "taskAction": "Sign Form",
                      "projectId": null,
                      "project": null,
                      "displayProject": "N/A",
                      "dueAt": "2024-06-13T12:59:05.517",
                      "displayDueDate": "6/13/2024 12:59 PM",
                      "listDisplayDueDate": "6/13/2024 12:59 PM",
                      "notes": null,
                      "status": "to-do",
                      "displayStatus": "To-do",
                      "actionText": "Start Task",
                      "createdAt": "2024-06-12T08:00:39.227",
                      "createdBy": "Albi Support",
                      "createdById": 0,
                      "lastUpdated": "2024-06-12T08:00:39.227",
                      "lastUpdateBy": null,
                      "documents": null
                    }
              schema:
                $ref: "#/components/schemas/get_all_tasks_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Activity By Id
  /v5/Integrations/Projects/GetProjectFinancialKPI:
    get:
      deprecated: false
      description: Get the Project Financial KPIs by Project ID
      operationId: get-projects-date-copy
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": {
                        "projectId": 370724,
                        "estimatedRevenue": 13398.19,
                        "actualRevenue": 0,
                        "paidAmount": 0,
                        "totalInvoiceAmount": 0,
                        "totalPaymentAmount": 0,
                        "totalCogs": 2780.2,
                        "grossMargin": 0,
                        "budgetRevenue": 0,
                        "budgetedGrossMargin": 100,
                        "projectBilledPercent": 0,
                        "createdAt": "2024-03-28T15:07:53.577",
                        "createdBy": 3599,
                        "updatedAt": "2024-03-29T00:11:17.663",
                        "updatedBy": null
                      },
                      "message": "Success",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/get_projects_date_copy_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "401":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "401"
        "500":
          content:
            text/plain:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "500"
      summary: Get Project Financial KPI
  /v5/Integrations/Schedule/CreateEvent:
    post:
      deprecated: false
      description: Create an event via Albi's Scheduler.
      operationId: create-a-scheduled-event
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/create_a_scheduled_event_request"
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                      "data": 123567,
                      "message": "Meeting scheduled successfully!",
                      "status": 1
                    }
              schema:
                $ref: "#/components/schemas/create_a_scheduled_event_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
        "500":
          content:
            application/json:
              examples:
                Result:
                  value: ""
          description: "500"
      summary: Create a Scheduler Event
  /v5/Integrations/Projects/GetProjectInvoices:
    get:
      deprecated: false
      description: ""
      operationId: get-project-payments
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "totalRecords": 1,
                        "data": [
                          {
                            "id": 123456,
                            "projectId": 123798,
                            "projectDocumentId": null,
                            "contactId": 678567,
                            "organizationId": null,
                            "invoiceNo": "ADE-0295",
                            "invoiceDate": "2025-05-01T00:00:00",
                            "status": "Created",
                            "invoiceType": null,
                            "totalAmount": 1,
                            "remainingBalance": 1,
                            "description": null,
                            "settingDataJson": null,
                            "financialCRMID": null,
                            "xeroAccountId": null,
                            "dueDate": null,
                            "isOverdue": false,
                            "taxRateType": null,
                            "voided": false,
                            "voidAt": null,
                            "voidBy": null,
                            "deleted": false,
                            "createdAt": "2025-05-01T15:25:02.397",
                            "createdBy": 3485,
                            "updatedAt": null,
                            "updatedBy": null,
                            "createdByStaff": "Albi Support",
                            "invoicePayments": [],
                            "items": [
                              {
                                "date": "2025-05-01T00:00:00",
                                "name": "item 2",
                                "description": null,
                                "subCategory": "",
                                "unit": "Square Feet",
                                "unitCost": 1,
                                "quantity": 1,
                                "salesTax": 0,
                                "overheadProfit": 0,
                                "amount": 1
                              }
                            ]
                          }
                        ],
                        "message": "Success",
                        "status": 1
                      }
              schema:
                $ref: "#/components/schemas/get_project_payments_200_response"
          description: "200"
        "400":
          content:
            application/json:
              examples:
                Result:
                  value: "{}"
              schema:
                properties: {}
                type: object
          description: "400"
      summary: Get Project Invoices
  /v5/Integrations/Projects/GetProjectInvoice:
    get:
      deprecated: false
      description: ""
      operationId: get-an-invoice-by-id
      parameters:
      - explode: true
        in: query
        name: projectId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: invoiceId
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                        "data": {
                          "id": 123456,
                          "projectId": 123798,
                          "projectDocumentId": null,
                          "contactId": 678567,
                          "organizationId": null,
                          "invoiceNo": "ADE-0295",
                          "invoiceDate": "2025-05-01T00:00:00",
                          "status": "Created",
                          "invoiceType": null,
                          "totalAmount": 1,
                          "remainingBalance": 1,
                          "description": null,
                          "settingDataJson": null,
                          "financialCRMID": null,
                          "xeroAccountId": null,
                          "dueDate": null,
                          "isOverdue": false,
                          "taxRateType": null,
                          "voided": false,
                          "voidAt": null,
                          "voidBy": null,
                          "deleted": false,
                          "createdAt": "2025-05-01T15:25:02.397",
                          "createdBy": 3485,
                          "updatedAt": null,
                          "updatedBy": null,
                          "createdByStaff": "Albi Support",
                          "invoicePayments": [],
                          "items": [
                            {
                              "date": "2025-05-01T00:00:00",
                              "name": "item 2",
                              "description": null,
                              "subCategory": "",
                              "unit": "Square Feet",
                              "unitCost": 1,
                              "quantity": 1,
                              "salesTax": 0,
                              "overheadProfit": 0,
                              "amount": 1
                            }
                          ]
                        },
                        "message": "Success",
                        "status": 1
                      }
              schema:
[...]
